<div class="container">
<% @book.errors.full_messages.each do |message| %>
 <div class="form-error">
  <%= message %>
 </div>
<% end %>
<div class="edit_form">
<h1>Book Editing</h1>
<%= form_for @book do |f| %> 
<h4>Title</h4>
<%= f.text_field :title %>
<h4>Opinion</h4>
<%= f.text_area :opinion %>
<br>
<%= f.submit 'Update Book' %>
<% end %>
<%= link_to "show", book_path %>
<%= link_to "Back", "/books" %>
</div>
</div>

