<nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">Bookers</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
        <li class="nav-item">
         <i class="fas fa-home size"><%= link_to 'Home', user_path(current_user.id), class: 'nav-link text-light' %></i>
        </li>
        <li class="nav-item">
          <i class="fas fa-users size"><%= link_to 'Users', users_path, class: 'nav-link text-light' %></i>
        </li>
        <li class="nav-item">
          <i class="fas fa-book-open size"><%= link_to "Books", books_path, class: 'nav-link text-light' %></i>
        </li>
         <li class="nav-item">
          <i class="fas fa-sign-out-alt size"><%= link_to "logout", destroy_user_session_path, method: :delete, class: 'nav-link text-light' %></i>
         </li>
        <% else %>
        <li class="nav-item">
          <i class="fas fa-home size"><%= link_to "Home", root_path, class: 'nav-link text-light' %></i>
        </li>
        <li class="nav-item">
           <i class="fas fa-link size"><%= link_to "About", home_about_path, class: 'nav-link text-light' %></i>
        </li>
        <li class="nav-item">
          <i class="fas fa-user-plus size"><%= link_to "sign up", new_user_registration_path, class: 'nav-link text-light' %></i>
        </li>
        <li class="nav-item">
          <i class="fas fa-sign-out-alt size"><%= link_to "Login", new_user_session_path, class: 'nav-link text-light' %></i>
        </li>
        <% end %>
        </ul>
      </div>
  </nav>
