    <nav class="navbar navbar-expand-sm navbar-dark bg-dark mt-3 mb-3">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Bookers</a>
        <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
     <% if user_signed_in? %>
       <li class="nav-item">
      <%= link_to 'Home', user_path(current_user.id) %>
      </li>
      <li class="nav-item">
        <%= link_to 'Users', users_path %>
      </li>
      <li class="nav-item">
        <%= link_to "Books", books_path %>
      </li>
       <li class="nav-item">
        <%= link_to "Log out", destroy_user_session_path, method: :delete %>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to "Home", root_path %>
      </li>
      <li class="nav-item">
        <%= link_to "Sign_up", new_user_registration_path %>
      </li>
      <li class="nav-item">
        <%= link_to "Log_in", new_user_session_path %>
      </li>
    <% end %>
      </ul>
      </div>
    </nav>